@base-color: #dfe1e5;
@container-rad: 8px;
@btn-rad: 4px;


@display-border-color: #ebebeb;
@display-output-text-color:#70757a;



@buttons-action-bg: @base-color;
@buttons-action-border-color: @base-color;

@buttons-action-hover-bg: #d7d9dd;
@buttons-action-hover-border-color: #d7d9dd;

@buttons-action-pressed-border-color: #9aa0a6;



@numbers-bg: #f1f3f4;
@numbers-border-color: #f1f3f4;

@numbers-hover-bg: #e8eaeb;
@numbers-hover-border-color: #e8eaeb;

@numbers-pressed-border-color: #bdc1c6;



@result-bg: #4285f4;
@result-border-color: #4285f4;
@result-text-color: #fff;

@result-hover-bg: #4d8bf1;
@result-hover-border-color: #4d8bf1;

@result-pressed-border-color: #185abc;


*,
html,
body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #000;
}

.wrapper{
    width: 100%;
    display: flex;
    padding: 100px;

    &__calculator{
        width: 600px;
        height: 300px;
        border: 1px solid @base-color;
        border-radius: @container-rad;
        padding: 15px;
        margin-right: 100px;
    }

    &__mocha{
        margin: 0;
    }
}

.calculator{
    &__display{

    }

    &__keypad{

    }
}

.display__output{
    background: red;
    width: 50px;
    height: 50px;
}













